@use 'sass:color';

span {
  &.aside {
    font-style: "italic";
    color: color.adjust($mainColor, $lightness: -40%);
  }
}

.smaller {
  font-size: 0.8em;
  line-height: 0.8em;
}

.reveal h2.emphasis,
.reveal p.emphasis {
  color: $accentColor;
  font-style: italic;
  font-size: 3em;
  animation: flicker 2s infinite;
}

ul li strong {
  text-decoration: underline;
}

@keyframes flicker {
  /* Initial state of animation */
  0%,
    /* Final state of animation */
  100% {
    text-shadow:
            0 -1px 3px #fff, /* Innermost layer - intense heat (white) */
            0 -2px 6px #FF3, /* Second layer - core of flame (yellow) */
            0 -6px 12px #F90, /* Middle layer - body of flame (orange) */
            0 -10px 20px #C33; /* Outermost layer - edges of flame (red) */
  }
  /* Middle state of animation */
  50% {
    text-shadow:
            0 -2px 6px #fff, /* Innermost layer - intense heat (white) */
            0 -4px 12px #FF3, /* Second layer - core of flame (yellow) */
            0 -8px 16px #F90, /* Middle layer - body of flame (orange) */
            0 -12px 24px #C33; /* Outermost layer - edges of flame (red) */
  }
}
