/* Fixing sidebar */
@media(min-width:960px) {
  nav.bd-links {
    width: 100%;
  }
}

.bd-sidebar-primary .sidebar-primary-items__end {
  margin-top: unset
}

/* For fullwidth */

@media(min-width:960px) {
  .bd-page-width {
    max-width: unset
  }
}

.bd-main {
    width: 100%;
}

@media(min-width:960px) {
    .bd-main {
        margin-left: 200px;
    }
}
 
.bd-main .bd-content .bd-article-container {
  max-width:unset;
}

@media (min-width:1100px) {
  .bd-sidebar-primary {
    max-width: 10%;
  }
}

.bd-sidebar-primary {
    min-width: 200px;
    position:fixed;
    height: 100%;
}

footer.bd-footer-content {
    display: none;
}

.bd-article-container footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--pst-color-background);
    border-top: 1px solid white;
}

footer.bd-footer {
    display: none;
}

@media(min-width:960px) {
    .bd-article-container footer  {
        width: calc(100vw - 200px);
    }
}

.bd-main .bd-content .bd-article-container .bd-article {
    flex-grow: 1;
}

.bd-main .bd-article {
/*    max-height: 100vh;*/
}

.bd-article {
    position: relative;
}

@media(min-width:960px) {
    .bd-article {
        top: -20px;
    }
}


.bd-article section {
    max-height: 90%;
}

.bd-content {
    padding-bottom: 3em;
}

.prev-next-subtitle {
    display: none;
}


/* Typography */
p {
    font-size: 26px;
    line-height: 1.2;
}

pre {
    font-size: 20px;
}

/* image */

.slide-img {
    display: block;
/*    height: 100%;*/
    max-height: 80%;
    width: auto;
    height: auto;
    margin: auto;
}

.slide-video {
    width: 100%;
}

html[data-theme=dark] .bd-content img:not(.only-dark):not(.dark-light) {
  background:transparent;
  border-radius:.25rem
}

/* Layout */

h2 {
    border-bottom: 1px solid #ffffff44;
    padding-bottom: 0.5em;
}

.flex-twocol {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.flex-col {
    width: 50%;
}